<ion-header>
  <ion-toolbar>
    <ion-title>Anmelden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="handleForm(form.value)">
    <ion-item>
      <ion-label position="floating">E-Mail Adresse</ion-label>
      <ion-input formControlName="emailAddress" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button type="submit"
      [disabled]="form.invalid"
      expand="block">
      Anmelden
    </ion-button>

    <ion-button routerLink="register" color="light" expand="block">Noch keinen Account? Registrieren</ion-button>
  </form>
</ion-content>
